html {
	background-color: gray;
}

body {
	background-color: white;
	max-width: 45em;
	width: auto;
	min-height: 100vh;
	padding: 2em;
	margin: 0px auto;
	box-sizing: border-box;
}

header, section {
	margin: 2em auto;
}

header > h1 {
	margin-bottom: 0px;
}

header > h1 + .byline {
	margin-top: 0px;
}

header .byline {
	font-style: italic;
}

section.qualifier {
	padding-top: 2em;
	font-size: smaller;
}

footer {
	padding: 2em 0px;
}

.tomato {
	color:white;
	background-color:tomato;
}

.badge {
	border-radius:1em;
	padding: 0.1em 0.5em;
}
